body{
    margin: 0;
    background-color: #faf8ef;
}
.title{
    padding: 1em 0;
    text-align: center;
    margin: 0 auto;
    color: #776e65;
    background-color: #faf8ef;
}
p{
    color: #776e65;
    text-align: center;
    width: 90%;
    margin: 2em auto;
}
select {
    padding: 0.25em;
}

label {
    color: #776e65;
}

.gamesettings {
    margin: 0 auto;
    text-align: center;
}
#resetbutton {
    background-color:#faf8ef;
    padding: 0.25em;
    cursor: pointer;
}


.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 2em auto;
    width: 90%;
    max-width: 90%;
    border: #776e65 0.2rem solid;
}

.cell {
    cursor: pointer;
    background-color: rgba(238, 228, 218, 0.35);
    border: #faf8ef 0.2px solid;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: 700;
}

.cell:focus {
    outline: none;
}
.invisibletext {
    color: rgba(238, 228, 218, 0.35);
}
.visibletext {
    color: #776e65;
}
.transition {
    background: #edc53f;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.cleared {
    background: lightseagreen;
    color: lightseagreen;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    disabled: true;
    cursor: unset;
}